@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
}

.container-big {
  max-width: 70%;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.container-small {
  max-width: 60%;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

/* ************************************* */
/* HERO STYLES */
/* ************************************* */

.hero-spacing {
  display: flex;
  flex-direction: column;
  gap: 8.4rem;
}

.hero-box-spacing {
  gap: 10.8rem;
  align-items: stretch;
}

.hero {
  background-color: #1f2937;
  color: #fff;
  padding: 2rem 0 12rem;
}

.hero-logo {
  font-size: 2.4rem;
  color: #f9faf8;
  font-weight: 700;
}

.hero-links {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.primary-heading {
  font-size: 4.8rem;
  font-weight: 900;
  color: #f9faf8;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.hero-text {
  font-size: 1.8rem;
  color: #e5e7eb;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.cta-btn:link,
.cta-btn:visited {
  background-color: #3882f6;
  padding: 1rem 3.2rem;
  border-radius: 1rem;
  font-weight: 700;
}

.left {
  flex: 4;
}
.right {
  flex: 6;
  background-color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ************************************* */
/* MAIN STYLES - INFORMATION SECTION */
/* ************************************* */

.section-info {
  padding: 4.8rem 0 12rem;
  text-align: center;
}

.secondary-heading {
  font-size: 3.6rem;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 4.8rem;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-box div {
  width: 18rem;
  height: 18rem;
  border-radius: 1.5rem;
  border: #3882f6 solid 0.5rem;
  margin-bottom: 2rem;
}

.info-text {
  font-size: 1.8rem;
  line-height: 1.4;
  padding: 0 5rem;
}

/* MAIN STYLES - QUOTE SECTION */
.section-quote {
  padding: 12rem 0;
  background-color: #e5e7eb;
}

.quote {
  font-size: 4rem;
  font-weight: 300;
  color: #1f2937;
  line-height: 1.3;
  padding: 0 10.5rem;
}

.author {
  text-align: right;
  padding-right: 10.5rem;
  font-weight: 900;
}

/* MAIN STYLES - CALL TO ACTION(CTA) SECTION */
.section-cta {
  padding: 10rem 0;
  color: #fff;
}

.section-cta .container-big {
  background-color: #3882f6;
  padding: 6rem 20rem;
  border-radius: 1rem;
}

.tertiary-heading {
  font-size: 2.4rem;
  line-height: 1.6;
}

.cta-text {
  color: #e5e7eb;
}

.btn:link,
.btn:visited {
  border: #fff solid 0.2rem;
}
